@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.4px;
}

.title {
  margin: 1.5rem auto;
  text-align: center;
  color: aliceblue;
  text-transform: capitalize;
  text-shadow: 0 1px 1px #000;
  font-weight: 600;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px;
  margin: 0 auto;
}
.links-container a {
  list-style: none;
  text-decoration: none;
  color: #1c6dd0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.links-container a:hover {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
