@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(235, 16%, 14%);
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.launch-info {
  text-align: center;
}

.launch-info h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 1rem;
}
.launch-info h4 {
  font-size: 1.3rem;
  margin-bottom: 4rem;
  letter-spacing: 2px;
}

.date {
  color: var(--clr-grey-5);
  font-size: 0.85rem;
}
.deadline {
  display: flex;
}
.deadline-format {
  margin-right: 1.5rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.deadline h4 {
  font-size: 2rem;
  color: hsl(345, 95%, 68%);
  background-color: hsl(236, 21%, 26%);
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1.2rem;
  letter-spacing: 2px;
}
.deadline-format span {
  display: block;
  color: hsl(237, 18%, 59%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.stars {
  position: absolute;
}
.social-icons {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 30px;
  z-index: 999;
}
.social-icons ul {
  display: flex;
}
.social-icons ul li {
  margin: 0 1.4rem;
}

.hills {
  position: absolute;
  bottom: 0;
}

@media (min-width: 1440px) {
  .stars img,
  .hills img {
    width: 1600px;
  }
}
@media (min-width: 1600px) {
  .stars img,
  .hills img {
    width: 1900px;
  }
}
